<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
			<img class="d-block img-fluid" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/91011492_216595342751462_4815063474491097088_n.jpg?_nc_cat=100&_nc_sid=b96e70&_nc_ohc=6zCUeYwrET4AX870pQ7&_nc_ht=scontent.fhan2-4.fna&oh=6faa3d3a2da7d192fed4be5c6fa82d5c&oe=5EA44EF7"  alt="First slide">
            </div>
			<div class="carousel-item">
				<img class="d-block img-fluid" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/90528548_497446831140616_5353162343410827264_n.jpg?_nc_cat=107&_nc_sid=b96e70&_nc_ohc=Gl1YZjPbagwAX8h6yfJ&_nc_ht=scontent.fhan2-4.fna&oh=3553d3a1a81ea1908313e1823d7c157e&oe=5EA52047" alt="Second slide">
            </div>
				<div class="carousel-item">
					<img class="d-block img-fluid" src=" https://scontent-hkt1-1.xx.fbcdn.net/v/t1.15752-9/91153093_259199695102697_2161716405114765312_n.jpg?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=qQqLO-FIeG8AX8ErdiV&_nc_ht=scontent-hkt1-1.xx&oh=517a148c2e543e5b6d8996985ab915bb&oe=5EA455C1" alt="Third slide">
            </div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>